{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
{% if is_edit %}
    Редактирование записи
  {% else %}
    Создание записи
  {% endif %} 
{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}            
        <div class="alert alert-danger">
        {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error|escape }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="post" {% if action_url %}
    action="{% url action_url %}"
    {% endif %}
    enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group row my-3"
        {% if field.field.required %} 
        aria-required="true"
        {% else %}
        aria-required="false"
        {% endif %}>
        <label for="{{ field.id_for_label }}">
        {{ field.label }}
            {% if field.field.required %}
            <span class="required text-danger">*</span>
            {% endif %}
        </label>
        {{ field|addclass:'form-control' }}
        {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
            {{ field.help_text|safe }}
            </small>
        {% endif %}
    </div>
    {% endfor %}
        
        <div class="d-flex justify-content-center">
        {% if is_edit %}
        <button type="submit" class="btn btn-dark">
            Изменить
        </button>
        {% else %}
        <button type="submit" class="btn btn-dark">
            Создать
        </button>
        {% endif %} 
        </div>
    </form>
</div>
{% endblock content %}